/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome-webfont.eot');
	src:url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight:300;
    color: #ffffff;
	background-color:#ce1126;

}

a {
	color: #fff;
	background-color:#860d1a;
	padding:0.188em;
	text-decoration: none;
	-webkit-border-radius: 0.188em;
	-moz-border-radius: 0.188em;
	border-radius: 0.188em;
}

a:hover {
	color: #fff;
	background:none;
	text-decoration: underline;
}

a.no-link {
	background:none;
	padding:0;
}

.main,
.container > header {
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
	text-align:center;
}

.container > header {
	padding: 2.875em 1.875em 3.750em;
}

.container > header img {
	width:70%;
	margin:3.125em 0;
}

@media screen and (max-width: 660px) {
	.container > header img {
		width:100%;
	}
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.5;
	margin: 1.250em 0;
	font-weight: 300;
	display:none;
}

.container > header span {
	font-size:1em;
	display: block;
	font-weight: 300;
	line-height: 1.75;
	margin: 1.250em 0;
	letter-spacing: 0.01em;
}

.container > header span.apply {
	font-weight: 700;
}

.container > header span.about {
	text-align:justify;
}

.container h3 {
	font-size: 1em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 700;
}

.container .join-box {
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
	clear:both;
	text-align:center;
	padding: 3.750em 1.250em 0.250em;
}

.container .join-box-about {
	padding: 0em 1.250em 0.250em;
}

.container .join-box span {
	font-size:1em;
	display: block;
	font-weight: 300;
	line-height: 1.75;
	margin: 1.250em 0;
	letter-spacing: 0.01em;
}

.container .join-box a.join-button {
	font-size:1.500em;
	color: #fff;
	background:none;
	padding:0.500em;
	margin:0.500em;
	text-decoration: none;
	-webkit-border-radius: 0.188em;
	-moz-border-radius: 0.188em;
	border-radius: 0.188em;
	border:solid 1px #fff;
}

.container .join-box a.join-button:hover {
	color:#ce1126;
	background-color:#fff;
	text-decoration: none;
}

.main,
.container > footer {
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
	clear:both;
	text-align:center;
	padding: 3.125em 3.125em 0;
}

.container > footer span {
	font-size:0.750em;
	display: block;
	font-weight: 300;
	line-height: 1.8;
	margin: 1.250em 0;
	letter-spacing: 0.01em;
}

.container > footer img {
	height:2.500em;
	margin:2.500em 0;
}
