{% extends "base.html" %}
{% block title %}About the initiative - Founded in Romania{% endblock %}
{% block head %}
    {{ super() }}
    <meta property="og:url" content="http://foundedinholland.com/about.html" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="In Holland, not only the tulips are flowering. Since the beginning of the 21st century, the Netherlands has shown a flourishing startup scene. We host a workforce that is comprised of highly qualified multinationals and multilinguals. 90 percent of the Dutch population speaks English, or at least they think they do. With innovators like Philips, Heineken and Unilever in our heritage, the Dutch belong to the most innovative people of the world. Want proof? We’ve invented the concept of an atlas, wireless internet through Wi-Fi and of course, the stroopwafel. Sweet, right?" />
    <meta name="twitter:url" content="http://foundedinholland.com/about.html" />
{% endblock %}
{% block container_header%}
    <h1>About Founded in Romania</h1>
    <span class="about">
        <p>In Holland, not only the tulips are flowering. Since the beginning of the 21st century, the Netherlands has shown a flourishing startup scene. We host a workforce that is comprised of highly qualified multinationals and multilinguals. 90 percent of the Dutch population speaks English, or at least <a href="https://www.youtube.com/watch?v=nlcOmThzkhg" target="_blank">they think they do</a>. With innovators like Philips, Heineken and Unilever in our heritage, the Dutch belong to the most innovative people of the world. Want proof? We’ve invented the concept of an atlas, wireless internet through Wi-Fi and of course, the <a href="http://en.wikipedia.org/wiki/Stroopwafel" target="_blank">stroopwafel</a>. Sweet, right?</p>
        <p>The surge of successful entrepreneurial endeavors in the Netherlands has propelled us to the <a href="http://www.usnews.com/opinion/economic-intelligence/2014/02/14/how-the-netherlands-built-a-thriving-startup-scene" target="_blank">forefront of digital startups</a> in Europe. The region has become one of <a href="http://www.wired.co.uk/magazine/archive/2014/09/european-startups/amsterdam/viewall" target="_blank">Europe's hottest startup hubs</a>. Therefore, we feel that it’s time to celebrate. Not to brag, but because we believe that everybody should be proud of these gems of boldness.</p>
        <p>As founders of <a href="http://goweekly.co/" target="_blank">Weekly, The Innovation Startup</a>, we think that having Dutch roots is one of the best assets a company can have. That’s why we’ve introduced a crisp and typically Dutch figurative, the tulip. Innovation is in our genes and we’re indeed famous for successfully productizing tulips. Besides, a little bulb that’s growing into a beautiful flower is the perfect metaphor for a startup.</p>
        <p>Inspired by <a href="http://nytm.org/made" target="_blank">Made in NYC</a>, we’ve composed a <a href="http://foundedinholland.com/" target="_blank">list of truly innovative Dutch startups</a>. What do all these companies have in common?
        <ol>
            <li>They were founded in Holland in the 21st century</li>
            <li>They have the ambition to transform their industry</li>
            <li>The founders have never clubbed a baby seal</li>
        </ol></p>
        <p>Do you want to support this initiative? You can <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">submit a Dutch startup</a> that meets these criteria, <a href="https://drive.google.com/folderview?id=0B7rp4qZAI1DoN3haMk0zTHA4aTg&usp=sharing" target="_blank">download the press kit</a>, or follow us on <a href="https://www.facebook.com/foundedinromania" target="_blank">Facebook</a> and <a href="https://twitter.com/foundedholland" target="_blank">Twitter</a> to get notifications about new additions.</p>
    </span>
{% endblock %}
{% block container_join_box %}
    <div class="join-box join-box-about">
            <span><strong>Want to join Founded in Romania? <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Submit&nbsp;your&nbsp;Dutch&nbsp;startup.</a></strong>
            <br><br><br>
            <a class="join-button" href="/">Check out the list</a></span>
            <br><br>
            <span>Follow on <a href="https://www.facebook.com/foundedinromania" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> & <a href="https://twitter.com/foundedholland" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a> &nbsp;&middot;&nbsp; <a href="about.html">About&nbsp;the&nbsp;initiative</a> &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B7rp4qZAI1DoN3haMk0zTHA4aTg&usp=sharing" target="_blank">Press&nbsp;kit</a> &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a> &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinholland.com" target="_blank">Contact</a></span>

            <div align="center" style="width:170px; margin:0 auto;">
                <div class="fb-like" data-href="http://foundedinholland.com/about.html" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
                <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinholland.com/about.html" data-via="foundedholland" data-count="none" data-dnt="true">Tweet</a></div>
            </div>
        </div>
{% endblock %}