{% extends "base.html" %}
{% block title %}About the initiative - Founded in Romania{% endblock %}
{% block head %}
    {{ super() }}
    <meta property="og:url" content="http://foundedinromania.com/about.html" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Founded in Romania it’s about praising the Romanian ingenuity in the 21st century." />
    <meta name="twitter:url" content="http://foundedinromania.com/about.html" />
{% endblock %}
{% block container_header%}
    <h1>About Founded in Romania</h1>
    <span class="about">
        <p>Romania it’s one of the fewest countries in the world that still preserve old traditions.
          <a href="http://www.ciaoromania.co.uk/traditions-romania.html" target="_blank">The Romanian folklore is probably the most varied and traditional in the whole of Europe.</a></p>
        <p>But, Romania it’s not only about traditions and ancient history, it has long been acknowledged as <a href="http://brainspotting.ro/files/Brainspotting_IT_Talent_Map_Romania_2014.pdf" target="_blank">one of the best destinations for IT companies</a>, due to the large and talented pool of IT graduates and professionals.</p>
        <p>Founded in Romania it’s about praising the Romanian ingenuity in the 21st century.</p>
        <p>Inspired by <a href="http://foundedinholland.com" target="_blank">Founded in Holland</a>, we’ve composed a <a href="http://foundedinromania.com/" target="_blank">list of truly innovative Romanian startups</a>. What do all these companies have in common?
        <ol>
            <li>They were founded in Romania in the 21st century</li>
            <li>They have the ambition to transform their industry</li>
            <li>They promise to try to make it possible to download beer</li>
        </ol></p>
        <p>Do you want to support this initiative? You can <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">submit a Romanian startup</a> that meets these criteria, <a href="https://drive.google.com/folderview?id=0B3DAegL7MGt7MmRkbFRROVBPSmM&usp=sharing" target="_blank">download the press kit</a>, or follow us on <a href="https://www.facebook.com/foundedinromania" target="_blank">Facebook</a> and <a href="https://twitter.com/foundedromania" target="_blank">Twitter</a> to get notifications about new additions.</p>
    </span>
{% endblock %}
{% block container_join_box %}
    <div class="join-box join-box-about">
            <span><strong>Want to join Founded in Romania? <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Submit&nbsp;your&nbsp;Romanian&nbsp;startup.</a></strong>
            <br><br><br>
            <a class="join-button" href="/">Check out the list</a></span>
            <br><br>
            <span>Follow on <a href="https://www.facebook.com/foundedinromania" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> & <a href="https://twitter.com/foundedromania" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a> &nbsp;&middot;&nbsp; <a href="/about">About&nbsp;the&nbsp;initiative</a> &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B3DAegL7MGt7MmRkbFRROVBPSmM&usp=sharing" target="_blank">Press&nbsp;kit</a> &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a> &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinromania.com" target="_blank">Contact</a></span>
            <div align="center" style="width:170px; margin:0 auto;">
                <div class="fb-like" data-href="http://foundedinromania.com/about.html" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
                <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinromania.com/about.html" data-via="foundedinromania" data-count="none" data-dnt="true">Tweet</a></div>
            </div>
        </div>
{% endblock %}
