<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="description" content="The Netherlands has a thriving entrepreneurial scene and is one of Europe's hottest startup hubs. We list innovative startups with Dutch roots." />
		<meta name="keywords" content="Holland, the Netherlands, Dutch, Europe, startups, entrepreneurs, innovation" />
		
        <meta property="og:title" content="Founded in Holland - The most innovative startups in the Netherlands" />
		<meta property="og:description" content="The Netherlands has a thriving entrepreneurial scene and is one of Europe's hottest startup hubs. We list innovative startups with Dutch roots." />
		<meta property="og:site_name" content="Founded in Holland" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://foundedinholland.com/" />
		<meta property="og:image" content="http://foundedinholland.com/images/avatar.png" />
        <meta property="og:fb:admins" content="740728879302445" />
        
        <meta name="twitter:site" content="@foundedholland" />
        <meta name="twitter:title" content="Founded in Holland - The most innovative startups in the Netherlands" />
		
        <meta name="author" content="Weekly" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }} " />
        <link rel="apple-touch-icon-precomposed" href="http://foundedinholland.com/images/avatar.png" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
        
        <title>Founded in Holland - The most innovative startups in the Netherlands</title>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
            	<a href="http://foundedinholland.com" class="no-link"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                <h1>Founded in Holland - The most innovative startups in the Netherlands</h1>
                <span>The Netherlands &mdash; Holland &mdash; has a <a href="http://www.usnews.com/opinion/economic-intelligence/2014/02/14/how-the-netherlands-built-a-thriving-startup-scene" target="_blank">thriving&nbsp;startup&nbsp;scene</a>. The surge of successful entrepreneurial endeavors has made the region one of <a href="http://www.wired.co.uk/magazine/archive/2014/09/european-startups/amsterdam/viewall" target="_blank">Europe's&nbsp;hottest&nbsp;startup&nbsp;hubs</a>. Inspired by <a href="http://nytm.org/made" target="_blank">Made&nbsp;in&nbsp;NYC</a>, this list is a tribute to innovative startups that are proud of their <a href="https://www.youtube.com/watch?v=rzOzUHYwPms" target="_blank">Dutch&nbsp;roots</a>. <a href="/about">Learn&nbsp;more</a> about the initiative.</span>
                <span class="apply">Want to join this list? <a href="#join">Submit&nbsp;your&nbsp;Dutch&nbsp;startup.</a></span>
			</header>	
			<ul class="cbp-rfgrid">
				<li><a href="http://bit.ly/3dhubs-fih" target="_blank"><img src="{{ url_for('static', filename='images/logos/3dhubs.png') }}" /><div><h3>3D Hubs</h3></div></a></li>
				<li><a href="http://bit.ly/22tracks-fih" target="_blank"><img src="{{ url_for('static', filename='images/logos/22tracks.png') }}" /><div><h3>22tracks</h3></div></a></li>
				<li><a href="http://bit.ly/aceandtate-fih" target="_blank"><img src="{{ url_for('static', filename='images/logos/aceandtate.png') }}" /><div><h3>Ace &amp; Tate</h3></div></a></li>
				<li><a href="http://bit.ly/adyen-fih" target="_blank"><img src="{{ url_for('static', filename='images/logos/adyen.png') }}" /><div><h3>Adyen</h3></div></a></li>
				<li><a href="http://bit.ly/aliveshoes-fih" target="_blank"><img src="{{ url_for('static', filename='images/logos/aliveshoes.png') }}" /><div><h3>ALIVESHOES</h3></div></a></li>
			</ul>
            <div class="join-box">
            	<a name="join" class="no-link"></a>
                <span><strong>What do all these companies have in common?</strong><br>
                1) They were founded in Holland in the 21st century<br>
                2) They have the ambition to transform their industry<br>
                3) The founders have never clubbed a baby seal<br><br>
                Does your startup meet these criteria and do you want to support this initiative?<br>
                <strong>Submit your Dutch startup by filling out the <a class="typeform-share link" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">application&nbsp;form</a>.</strong>
                <br><br><br>
                <a class="typeform-share link join-button" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a></span>
                <br><br>
                <span>Follow on <a href="https://www.facebook.com/foundedinholland" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> & <a href="https://twitter.com/foundedholland" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a> &nbsp;&middot;&nbsp; <a href="/about">About&nbsp;the&nbsp;initiative</a> &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B7rp4qZAI1DoN3haMk0zTHA4aTg&usp=sharing" target="_blank">Press&nbsp;kit</a> &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://weekly.typeform.com/to/HHO2Uc" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a> &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinholland.com" target="_blank">Contact</a></span>
                
                <div align="center" style="width:170px; margin:0 auto;">
                	<div class="fb-like" data-href="http://foundedinholland.com/" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
                    <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinholland.com/" data-via="foundedholland" data-count="none" data-dnt="true">Tweet</a></div>
                </div>
                
            </div>
            <footer>
            	<span>Brought to you by <a href="http://goweekly.co" target="_blank">Weekly,&nbsp;The&nbsp;Innovation&nbsp;Startup</a>. All the logos and trademarks used on this website belong to its rightful owner.<br>
                Thanks to <a href="http://www.callumctaylor.com.au/" target="_blank">Callum Taylor</a> for the tulip design.</span>
                <a href="http://foundedinholland.com" class="no-link"><img src="{{ url_for('static', filename='images/logo-tulip.png') }}" alt="Founded in Holland tulip"></a>
            </footer>
		</div>      

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Typeform -->
	<script>
		(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
    </script>

	<!-- Smooth Scroll -->
    <script>
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html,body').animate({
				  scrollTop: target.offset().top
				}, 1000);
				return false;
			  }
			}
		  });
		});
    </script>
    
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-52502471-2', 'auto');
      ga('send', 'pageview');
    
    </script>
	
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
            
	</body>
</html>