{% extends "base.html" %}
{% block title %}Founded in Romania - The most innovative startups in the Romania{% endblock %}
{% block head %}
    {{ super() }}
        <meta property="og:url" content="http://foundedinromania.com/" />
        <meta property="og:type" content="website" />

        <script>
        /**
        * Function that tracks a click on an outbound link in Google Analytics.
        */
        var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url);
        }
        </script>
{% endblock %}
{% block container_header%}
    <h1>Founded in Romania - The most innovative startups in Romania</h1>
    <span>Romania has a fast growing startup scene. We invented the fountain pen, the modern jet engine, discovered insulin and launched <a href="http://netocratic.com/romanian-tech-startup-scene-3286" target="_blank">some impressive startups</a>.
      Inspired by <a href="http://foundedinholland.com" target="_blank">Founded in Holland</a>, this list is dedicated to promote Romanian innovative startups that promise to inspire. <a href="/about">Learn&nbsp;more</a> about the initiative.</span>
    <span class="apply">Want to join this list? <a href="#join">Submit&nbsp;your&nbsp;Romanian&nbsp;startup.</a></span>
{% endblock %}

{% block container_inner%}

<ul class="cbp-rfgrid">
    {% for company in companies %}
    <li>
        <a href="{{ company.url }}" target="_blank" onclick="trackOutboundLink('{{ company.url }}'); return true;">
            <img src="static/images/logos/{{ company.logo }}" alt="{{ company.name }}" />
            <div>
                <h3>{{ company.name }}</h3>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block container_join_box %}
    <div class="join-box">
        <a name="join" class="no-link"></a>
        <span><strong>What do all these companies have in common?</strong><br>
        1) They were founded in Romania in the 21st century<br>
        2) They have the ambition to transform their industry<br>
        3) They promise to try to make it possible to download beer<br><br>
        Does your startup meet these criteria and do you want to support this initiative?<br>
        <strong>Submit your Romanian startup by filling out the <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">application&nbsp;form</a>.</strong>
        <br><br><br>
        <a class="typeform-share link join-button" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a></span>
        <br><br>
        <span>Follow on <a href="https://www.facebook.com/foundedinromania" target="_blank"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a> &
          <a href="https://twitter.com/foundedromania" target="_blank"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
           &nbsp;&middot;&nbsp; <a href="/about">About&nbsp;the&nbsp;initiative</a>
           &nbsp;&middot;&nbsp; <a href="https://drive.google.com/folderview?id=0B3DAegL7MGt7MmRkbFRROVBPSmM&usp=sharing" target="_blank">Press&nbsp;kit</a>
           &nbsp;&middot;&nbsp; <a class="typeform-share link" href="https://cloudients.typeform.com/to/kEfvl8" data-mode="2" target="_blank">Join&nbsp;the&nbsp;list</a>
           &nbsp;&middot;&nbsp; <a href="mailto:join@foundedinromania.com" target="_blank">Contact</a></span>

        <div align="center" style="width:170px; margin:0 auto;">
            <div class="fb-like" data-href="http://foundedinromania.com/" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom:-20px; padding:5px;"></div>
            <div style="padding:5px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://foundedinromania.com/" data-via="foundedromania" data-count="none" data-dnt="true">Tweet</a></div>
        </div>

    </div>
{% endblock %}
